<% include partials/header %>
	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Coffee</h1>
      <p class="lead">I'm selling coffee to buy pet foods, cat sand, pay for the sofa, toilet paper rolls, chargers, cables, Etc. they just destroyed. Please, buy my coffee as a donation. We have 3 coffee drinks for you. Read them bellow. Buy "Large macchiato" to receive a spoon from Catto.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">

          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Espresso</h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>You have to watch ads</li>
              <li>Can play shuffle</li>
              <li>Can not download music</li>
              <li>Can not play offline</li>
            </ul>
            <a href="/users/register" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
          </div>

        </div>

        <div class="card mb-4 box-shadow">

          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Latte</h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>No ads</li>
              <li>High quality musics</li>
              <li>Can download musics</li>
              <li>Can Play offline</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>

        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Large Macchiato</h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>No ads</li>
              <li>High quality musics</li>
              <li>Download and Play offline</li>
              <li>Phone and email support</li>              
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy</button>
          </div>

        </div>

      </div>

    </div>
<% include partials/footer %>
